.row
  %h2.text-center #{Tenant.current_name} Tunnel Scrambler
  %div.description
    Create events, add flyers, generate competition, score participants.
.row
  %div.main-logo.text-center
    = image_tag('scrambler-white.png')
