.large-12.small-12.columns
  .large-6.small-12.columns.small-centered
    %h4.text-center Administration
    .panel
      %ul
        %li= link_to 'Tenants', admin_tenants_path, class: 'button radius'
