%table.index
  %thead
    %tr
      %th Name
      %th.hide-for-small-only Email
      %th Hours
      %th
  %tbody#flyers
    - unless flyers.present?
      %tr.empty-list
        %td.text-center{ colspan: 4 }
          .empty-list-panel= fa_icon('frown-o', text: 'No Flyers')
    - flyers.each do |flyer|
      %tr{ id: "flyer-#{flyer.id}" }
        = render flyer

= paginate flyers
