%h2.text-center Add Participants

.panel{ style: 'padding-bottom: 0;' }
  .row.collapse
    = search_form_for @q, url: new_event_participant_path(event), remote: true do |f|
      .small-8.medium-8.large-6.columns
        = f.search_field :name_or_email_cont, placeholder: 'Search Name or Email'
      .small-2.medium-2.large-2.columns.left
        = f.submit 'Search', class: 'button-xs search-btn'
.custom-panel{ style: 'padding-bottom: 0; padding-top: 20px;' }
  = render 'form'
