%h2.text-center Add Participants
.large-12.medium-12.small-12.columns.small-centered
  .panel{ style: 'padding-bottom: 0;' }
    .row.collapse
      = search_form_for @q, url: new_event_participant_path(event), remote: true do |f|
        = f.search_field :name_or_email_cont, placeholder: 'Search Name or Email', class: 'small-3 columns'
        = f.submit 'Search', class: 'button-xs search-btn'
  .custom-panel{ style: 'padding-bottom: 0; padding-top: 20px;' }
    = render 'form'
