%h4.text-center Participant Information

%table.index.responsive
  %tbody
    %tr
      %th Name
      %td= @participant.flyer.name
    %tr
      %th Tunnel Hours
      %td= @participant.flyer.hours
    %tr
      %th Category
      %td= @participant.category.name
