%h4.text-center Participant Information

%table
  %tbody
    %tr
      %th Name
      %td= @participant.name
    %tr
      %th Tunnel Hours
      %td= @participant.flyer_hours
    %tr
      %th Category
      %td= @participant.category.display_name
