%h4.text-center Participant Information

%table
  %tbody
    %tr
      %th Name
      %td= @participant.flyer.name
    %tr
      %th Tunnel Hours
      %td= @participant.flyer.hours_humanize
    %tr
      %th Category
      %td= @participant.category.name
