.row.collapse
  - if can?(:invite, User)
    .right= link_to fa_icon('plus', text: 'Invite'), new_user_invitation_path, class: 'button-xs add-btn', remote: true
  .large-6.medium-8.small-8.columns
    %h2 Users
.row
  = react_component('FilterBar', resource_url: users_path)


.row
  #user-list= render 'users'

:javascript
   window.filters = [
      { field: "name_or_email_cont", uid: "name_or_email_cont", type: "search", input: 'text', placeholder: 'Name or Email' }
    ];
