%h3.text-center Forgot your password?
.row
  .large-4.medium-8.small-10.columns.small-centered.underline
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, role: 'form' }) do |f|
      = f.input :email, as: :email, autofocus: true
      = f.button :submit, 'Send reset instructions', class: 'button-xs'

-#.row
-#  .large-4.small-6.columns.small-centered.text-center
-#    = link_to 'Sign up', new_registration_path(resource_name)
.row
  .large-4.medium-8.small-10.columns.small-centered.text-center
    = link_to 'Resend instructions', new_confirmation_path(resource_name)

