%table.index.responsive
  %thead
    %tr
      %th Name
      %th Event date
      %th Location
      %th Team Size
      %th Rounds
      %th
  %tbody#events
    - unless events.present?
      %tr#empty-events-list
        %td.text-center{ colspan: 6 }
          .empty-list-panel= fa_icon('frown-o', text: 'No Events')
    - events.each do |event|
      %tr{ id: "event-#{event.id}" }
        = render event

%div#pages= paginate events
