- event.category_participants.each do |category, participants|
  %div.participant-category{ id: "category-#{category.id}" }
    %h5.light= category.name
    - participants.each_with_index do |p, index|
      = render partial: 'participants/participant', locals: { p: p, index: index }
