%h2.heading.text-center= "#{event.name} - #{event.event_date}"
= react_component('Event', path: event_path(event), event_id: event.id, rounds: event_rounds_path(event))
.new-teams.large-12.medium-12.small-12.columns
  %div.generating-teams
    %i.fa.fa-refresh.fa-spin
    Generating Teams
