%table
  %thead
    %tr
      %th Name
      %th Title
      %th Slug
      %th
  %tbody#pages
    - unless pages.present?
      %tr.empty-list
        %td.text-center{ colspan: 4 }
          .empty-list-panel= fa_icon('frown-o', text: 'No Pages')
    - pages.each do |page|
      %tr{ id: "page-#{page.id}" }
        = render page

%div#pages= paginate pages
