.row
  %h2.text-center Tunnel Scrambler
  %p.description
    Create events, add flyers, generate competition, score participants.
.row
  - @tenants.each do |continent, tenants|
    .row.continent-row
      .large-12.medium-12.small-12.columns.small-centered
        .large-3.medium-3.small-12.columns
          %h4= continent
        .large-9.medium-9.small-12.columns
          %ul.small-block-grid-1.medium-block-grid-2.large-block-grid-3
            - tenants.each do |tenant|
              %li.flag-au
                = link_to tenant.name, domain_url(tenant.domain), class: 'company-label'
