/*
 *= require jquery-ui/accordion
 *= require jquery-ui/datepicker
 *= require font-awesome
 *= require select2
 *= require_self
 */

@import 'foundation_and_overrides';
@import 'default';

div.loading, div.generating-teams {
  position: fixed;
  background-color: #91c600;
  color: #000;
  top: 60px;
  right: 15px;
  padding: 2px 5px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  border: 1px solid #444;
  border-radius: 2px;
  display: none;
  z-index: 1;
}
