$scrambler-blue: #4BCFE5;
$background-color: #eee;
$button-bg-color: #444;
$link-color: #333333;
$white-smoke: #F5F5F5;
$primary-color: #55BBCC;
$secondary-color: #C4225A;

$primary-color-1: #DEDEDE;
$primary-color-2: #B1A6A1;
$primary-color-3: #B2B2B2;
$primary-color-4: #555454;
$primary-color-5: #2C3133;

$border-color: $primary-color-2;

@mixin tiny-button {
  padding-top: 0.3rem;
  padding-right: 0.5rem;
  padding-bottom: 0.3rem;
  padding-left: 0.5rem;
  font-size: 0.6875rem;
}

@mixin btn {
  @extend .radius;
  @extend .button;
  background-color: $primary-color-3;
  border-color: $primary-color-2;
  color: $primary-color-5;

  &:hover {
    border: 1px solid $primary-color-2;
    background-color: lighten($primary-color-3, 10%);
    color: $primary-color-5;
  }
}

html,
body {
  margin:0;
  padding:0;
  height:100%;
}

.top-bar .name {
  font-size: rem-calc(13);
  line-height: 45px;
}
.top-bar .name a {
  font-weight: normal;
  color: white;
  padding: 0 15px;
}

.button-xs {
  @include btn;
  @extend .tiny;
}

.delete-button {
  @include tiny-button;
  border: 1px solid $primary-color-2;
}

.add-button {
  @extend .radius;
  @include tiny-button;
  margin-bottom: 0 !important;
  border: 1px solid $primary-color-2;
}

.participant-button {
  @include tiny-button;
  margin-bottom: 0;
  width: 30px !important;
  border: 1px solid $primary-color-5;
}

form {
  textarea, select {
    width: 100%;
    border-radius: $global-radius;
  }

  .select2-container .select2-choice {
    display: block;
    margin: 0 0 1rem 0;
    padding: 0.2rem 0.5rem;
    height: 2.2rem;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .select2-container .select2-choice .select2-arrow {
    width: 40px;
    color: #fff;
    padding: 4px 12px;
  }

  input[type="checkbox"] {
    margin-right: 5px;
  }
}

.main {
  height:100%;
  min-height: 100%;
}

.heading {
  margin-bottom: 30px;
}

.empty-list {
  background-color: $primary-color-1;
}

ul {
  margin-left: 0;
  list-style-type: none;
}

.select2 {
  width: 100%;
  margin-bottom: 5px !important;
}

.participant-select2 {
  width: 100%;
  margin-right: 5px !important;
  border-radius: $global-radius;
}

.participant-add-button {
  width: 100%;
  font-size: 0.8em !important;;
}

#new-participant-form {
  padding-left: 0 !important; /* change the values to anything that you want */
  padding-right: 0px !important;
}

.team-category {
  margin-top: 40px;
}

.team-section {
  margin-top: 10px;
}

.icon {
  padding: 0 5px;

  &:hover {
    background-color: lighten(#aaa, 10%);
    color: lighten(#000, 10%);
  }
}

table {
  width: 100%;
  border-collapse: collapse;

  tbody {
    td {
      padding-top: 3px;
      padding-bottom: 3px;
    }
  }
}

.vertical-tab-container {
  .event-content {
    padding-left: 0px !important; /* change the values to anything that you want */
    padding-right: 0px !important;
  }
}

table tr {
  border-bottom: 1px solid $primary-color-2;
}

.left-tabs {
  padding-bottom: 2px;
}

ul.tabs li.tab-title a {
  padding: 1em;
  font-size: .7525em;
}

ul.tabs li.tab-title {
  margin-right: 2px;
}

ul.tabs li.tab-title.active {
  border-top: 1px solid $primary-color-2;
  border-bottom: 1px solid $primary-color-2;
  border-left: 1px solid $primary-color-2;
}


ul.tabs.vertical {
  width: 100% !important;
  max-width: 100%;
}

.tabs-content {
  border: 1px solid $primary-color-2;
  background-color: $primary-color-1 !important;
  padding-bottom: 15px;
}

.bordered {
  border: 1px solid red;
}

.participant-name { padding-left: 0; }

.event-date {
  margin-left: 2px !important;
}

.event-total {
  font-weight: 500;
}

.main-logo {
  margin-top: 50px;
}

.underline {
  border-bottom: 1px solid #ccc;
}

ul.actions-list {
  text-align: center;
  margin-bottom: 0;
}

ul.actions-list li {
  display: inline-block;
}

div.message {
  position: fixed;
  top: 40px;
  right: 15px;
  z-index: 1;
  min-width: 200px;
}

button {
  margin-bottom: 0 !important;
}

.light {
  color: $primary-color-2;
}

.bold {
  font-weight: bold;
}

.payed {
  border: 1px solid $primary-color-5;
}

.unpayed {
  border: 1px solid red;
}

.italic {
  font-style: italic;
}

.participant-category {
  padding-bottom: 10px;
}

div.field_with_errors {
  padding: 0;
  background-color: $background-color !important;

  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="week"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  input[type="color"],
  textarea {
    margin: 0;
    border: 1px $alert-color solid;
  }
}

div.field_with_errors div.separator span.error {
  color: $alert-color;
  background-color: $background-color;
  padding: 0 5px;
  font-weight: $font-weight-bold;
}

div.separator {
  margin-top: 2px;
}

.panel {
  border-radius: $global-radius;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
input[type="submit"],
textarea {
  border-radius: $global-radius !important;
}

input[type="number"],
input[type="text"],
input[type="email"],
input[type="password"], select {
  padding: .75rem;
  height: 48px;
  font-size: 16px;
}

.devise-button, .lrg-btn {
  @include btn;
  width: 100%;
  font-size: 16px;
  padding: .75rem 1.25rem;
  height: 48px;
  font-size: 16px;
}

div.field_with_errors {
  background-color: #fff !important;
}

.custom-panel {
  @include panel(
  $bg: $primary-color-1,
  $padding: 5px,
  $adjust: true
  );
  border-radius: $global-radius;
}

.search-panel {
  @include panel(
  $bg: $primary-color-1,
  $padding: 15px 10px 0px 10px,
  $adjust: false
  );
  border-radius: $global-radius;
}

.empty-list-panel {
  @include panel(
  $bg: $primary-color-1,
  $padding:10px,
  $adjust:true
  );
  border: 0;
}

.panel-header {
  padding: 5px;
}

.panel-content {
  padding: 5px;
}

.panel-footer {
  padding: 5px;
}

ul.button-group li a {
  margin-bottom: 0 !important;
}

@media screen and (max-width: 640px) {
  table {
    table-layout: fixed;
    overflow-x: auto;

    font-size: 10px !important;

    td.long {
      word-wrap: break-word;
    }
  }
}

#scored-button {
  margin-bottom: 10px;
}

.panel#page-content {
  background-color: $primary-color-1;
  color: $white;
}

.company-label {
  @include label(
  $padding:20px,
  $text-size:16px,
  $bg: $primary-color-1,
  $radius: $global-radius
  );
  width: 100%;
  color: $primary-color-5;
  border: 1px solid $primary-color-2;

  a {
    color: lighten($primary-color-5, 15%);
  }

  &:hover {
    background-color: lighten($primary-color-1, 15%);
  }
}

div.loading, div.generating-teams {
  position: fixed;
  background-color: $primary-color-1;
  color: $white;
  top: 60px;
  right: 15px;
  padding: 2px 5px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  border: 1px solid $primary-color-2;
  border-radius: 2px;
  display: none;
  z-index: 1;
}

.row.continent-row {
  background-color: $primary-color-3;
  width: 100%;
  margin: 0;
  padding-top: 20px;
  color: $primary-color-5;
  margin-bottom: 5px;

  h4 {
    color: $primary-color-5;
  }
}

.description {
  padding-bottom: 50px;
  text-align: center;
  color: $primary-color-2;
}

.list-item {
  padding: 5px;
  margin-bottom: 5px;
  background-color: $primary-color-3;
}

.flyer-list-item {
  padding: 5px 0;
  margin-bottom: 5px;
  background-color: $primary-color-3;
}

input.event-score {
  background: transparent;
  display: block;
  height: 2em;
  width: 100% !important;
  margin-bottom: 0;
  color: $white;
  border-color: $primary-color-2;

  input[type="text"],
  input[type="email"],
  input[type="password"], select {
//    padding: .2rem !important;
    height: 1em !important;
    font-size: 12px !important;
  }
}

input.event-score:hover {
  border: 1px dashed $primary-color-5;
  cursor: pointer;
}

input.event-score:focus {
  cursor: text;
  color: $primary-color-5;
  outline: 0;
}
