$border-color: #d4d4d4;
$scambler-green: #91c600;
$background-color: #eee;
$button-bg-color: #444;
$link-color: #333333;

@mixin tiny-button {
  padding-top: 0.3rem;
  padding-right: 0.5rem;
  padding-bottom: 0.3rem;
  padding-left: 0.5rem;
  font-size: 0.6875rem;
}

@mixin custom-button {
  @extend .radius;
  border: 1px solid #d4d4d4;
  color: #444 !important;
  border-radius: 3px !important;
  background-color: #eee !important;
}

html,
body {
  margin:0;
  padding:0;
  background-color: $background-color !important;
  font-family: "Merriweather", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif !important;

  a {
    color: $link-color;

    &:hover {
      color: darken($link-color, 10%);
    }
  }
}

// override for the 'Home' navigation link
.top-bar .name {
  font-size: rem-calc(13);
  line-height: 45px;
}
.top-bar .name a {
  font-weight: normal;
  color: white;
  padding: 0 15px;
}

.button-xs {
  @extend .button;
  @extend .tiny;
  @include custom-button;
}

.button-xs:focus {
  background-color: $button-bg-color;
  border-color: #aaa;
  color: white;
}

.button-xs:hover {
  border: 1px solid darken($border-color, 10%);
  background-color: $border-color !important;
}

.delete-button {
  @include tiny-button;
}

.add-button {
  @include custom-button;
  @include tiny-button;
  margin-bottom: 0 !important;
}

.participant-button {
  @include tiny-button;
  margin-bottom: 0;
  width: 30px !important;
  border: 1px solid darken($border-color, 15%);
}

form {
  textarea, select {
    width: 100%;
    border-radius: $global-radius;
  }

  .select2-container .select2-choice {
    display: block;
    margin: 0 0 1rem 0;
    padding: 0.2rem 0.5rem;
    height: 2.2rem;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .select2-container .select2-choice .select2-arrow {
    width: 40px;
    color: #fff;
    padding: 4px 12px;
  }

  input[type="checkbox"] {
    margin-right: 5px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"]{
    border-radius: 3px;
  }
}

.main {
  margin-top: 30px;
  height:100%;
}

.heading {
  margin-bottom: 30px;
}

.empty-list {
  margin-top: 20px;
  border-top: 1px solid #aaa;
  padding-top: 10px;
  margin-bottom: 20px;
  width: 100%;
}

ul {
  margin-left: 0;
  list-style-type: none;
}

.list-item {
  padding: 5px;
  margin-bottom: 5px;
  background-color: darken(#eee, 10%);
}

.flyer-list-item {
  padding: 5px 0;
  margin-bottom: 5px;
  background-color: darken(#eee, 10%);
}

.select2 {
  width: 100%;
  margin-bottom: 5px !important;
}

.participant-select2 {
  width: 100%;
  margin-right: 5px !important;
  border-radius: $global-radius;
}

.participant-add-button {
  width: 100%;
  font-size: 0.8em !important;;
}

#new-participant-form {
  padding-left: 0 !important; /* change the values to anything that you want */
  padding-right: 0px !important;
}

.underline {
  border-bottom: 1px solid #aaa;
  margin-bottom: 5px;
}

.team-category {
  margin-top: 40px;
}

.team-section {
  margin-top: 10px;
}

.icon {
  padding: 0 5px;

  &:hover {
    background-color: lighten(#aaa, 10%);
    color: lighten(#000, 10%);
  }
}

#random-participant {
  background-color: #aaa;
  &:hover {
    background-color: lighten(#aaa, 10%);
    color: lighten(#000, 10%);
  }
}

table {
  width: 100%;
  border-collapse: collapse;

  tbody {
    td {
      padding-top: 3px;
      padding-bottom: 3px;
    }
  }
}

.vertical-tab-container {
  .event-content {
    padding-left: 0px !important; /* change the values to anything that you want */
    padding-right: 0px !important;
  }
}

table tr {
  border-bottom: 1px solid #ddd;
}

.left-tabs {
  padding-bottom: 2px;
}

ul.tabs li.tab-title a {
  padding: 1em;
  font-size: .7525em;
}

ul.tabs li.tab-title {
  margin-right: 2px;
}

ul.tabs li.tab-title.active {
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  border-left: 1px solid $border-color;
}

ul.tabs li.tab-title.active a {
  background-color: #fff !important;
}

ul.tabs.vertical {
  width: 100% !important;
  max-width: 100%;
}

.tabs-content {
  border: 1px solid $border-color;
  background-color: #fff !important;
  padding-bottom: 15px;
}

.bordered {
  border: 1px solid red;
}

.participant-name { padding-left: 0; }

.search-btn, .event-date {
  margin-left: 2px !important;
}

input.event-score {
  background: transparent;
  display: block;
  height: 1em;
  width: 100% !important;
  margin-bottom: 0;
}

input.event-score:hover {
  border: 1px dashed #888;
  cursor: pointer;
}

input.event-score:focus {
  cursor: text;
}

input.event-score:focus {
  outline: 0;
}

.event-total {
  font-weight: 500;
}

.main-logo {
  margin-top: 50px;
}

.underline {
  border-bottom: 1px solid #ccc;
}

ul.actions-list {
  text-align: center;
  margin-bottom: 0;
}

ul.actions-list li {
  display: inline-block;
}


div.message {
  position: fixed;
  top: 40px;
  right: 15px;
  z-index: 1;
  min-width: 200px;
}

button {
  margin-bottom: 0 !important;
}

.light {
  color: #444 !important;
}

.bold {
  font-weight: bold;
}

.payed {
  border: 1px solid $scambler-green;
}

.unpayed {
  border: 1px solid red;
}

.italic {
  font-style: italic;
}

.participant-category {
  padding-bottom: 10px;
}

div.field_with_errors {
  padding: 0;
  background-color: $background-color !important;

  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="week"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  input[type="color"],
  textarea {
    margin: 0;
    border: 1px $alert-color solid;
  }
}

div.field_with_errors div.separator span.error {
  color: $alert-color;
  background-color: $background-color;
  padding: 0 5px;
  font-weight: $font-weight-bold;
}

div.separator {
  margin-top: 2px;
}

.panel {
  border-radius: $global-radius;
}

input[type="search"] {
  width: 250px !important;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
  border-radius: $global-radius !important;
}

div.field_with_errors {
  background-color: #fff !important;
}

.custom-panel {
  @include panel(
    // Sets the panel background color. Default: $panel-pg
  $bg: white,
    // Sets the panel padding amount. Default: $panel-padding
  $padding: 5px,
    // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
  $adjust: true
  );
  border-radius: $global-radius;
}

.empty-list-panel {
  @include panel(
    // Sets the panel background color. Default: $panel-pg
  $bg: white,
    // Sets the panel padding amount. Default: $panel-padding
  $padding:10px,
    // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
  $adjust:true
  );
  border: 0;
}

.panel-header {
  padding: 5px;
}

.panel-content {
  padding: 5px;
}

.panel-footer {
  padding: 5px;
}

ul.button-group li a {
  margin-bottom: 0 !important;
}

@media screen and (max-width: 640px) {
  table {
    overflow-x: auto;
    display: block;
  }
}
