%td= category.name
%td
  %button.button-xs.dropdown{ href: '#', data: { dropdown: 'category-drop' }, aria: { controls: 'category-drop', expanded: 'false' } } Actions
  %ul.f-dropdown#category-drop{ data: { 'dropdown-content' => true }, aria: { hidden: true }, tabindex: '-1' }
    %li= link_to 'Edit', edit_category_path(category), class: 'icon', remote: true
    %li= link_to 'Delete', category, method: :delete, data: { confirm: 'Are you sure?' }
