%td= category.name
%td.text-center= link_to fa_icon('edit', text: ''), edit_category_path(category), class: 'icon', remote: true
%td.text-center= link_to fa_icon('trash', text: ''), category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'icon'
