.row.collapse
  .right= link_to fa_icon('plus', text: 'Add'), new_category_path, class: 'button-xs add-btn', remote: true
  .large-6.medium-8.small-8.columns
    %h2 Categories
.row
  = react_component('FilterBar', resource_url: categories_path)

.row
  #category-list
    = render 'categories'

:javascript
   window.filters = [
      { field: "name_cont", uid: "name_cont", type: "search", input: 'text', placeholder: 'Name' }
    ];
