.row.collapse
  .large-6.medium-8.small-8.columns
    %h2 Score Handicapping

.row
  #handicap-list
    %table.index
      %thead
        %tr
          %th Title
          %th Tunnel Hours
          %th Handicap Amount
          %th
      %tbody#handicaps
        - unless @handicaps.present?
          %tr.empty-list
            %td.text-center{ colspan: 4 }
              .empty-list-panel= fa_icon('frown-o', text: 'No handicaps')

        - @handicaps.each do |handicap|
          %tr{ id: "handicap-#{handicap.id}" }
            = render handicap
